<html>
    <head>
        <style>
            table {{border-collapse: collapse;}}
            th {{border: 1.5px solid lightgray;}}
            td {{border: 0.5px solid lightgray;}}
            th, td {{padding: 5px;}}
        </style>
    </head>
    <body>
        <center>
            <table>
                <tr><th>Name</th><th>Value</th></tr>
                <tr><td>Title</td><td>{TITLE}</td></tr>
                <tr><td>Description</td><td>{DESCRIPTION}</td></tr>
                <tr><td>Version</td><td>{VERSION}</td></tr>
                <tr><td>Git URL</td><td>{GIT_URL}</td></tr>
                <tr><td>API Endpoint</td><td>{API_ENDPOINT}</td></tr>
                <tr><td>Repo Dir</td><td>{REPO_DIR}</td></tr>
                <tr><td>Contact Name</td><td>{CONTACT_NAME}</td></tr>
                <tr><td>Contact Email</td><td>{CONTACT_EMAIL}</td></tr>
                <tr><td>Contact URL</td><td>{CONTACT_URL}</td>
                </tr>
            </table>
        </center>
    </body>
</html>
